{% extends "layout.html" %}

{% block content %}
<p>Got these rows from the database:</p>

<ul>
{% for n in names %}
  <li> {{ n.name }} </li>
{% else %}
  <li>Nameless!</li>
{% endfor %}
</ul>


<table class="table">
  <thead>
    <tr>
      <th scope="col">*</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for n in names %}
    <tr>
      <th scope="row">*</th>
      <td>{{ n.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}