{% extends "layout.html" %}

{% block content %}

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">*</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for n in names %}
    <tr>
      <th scope="row">*</th>
      <td>{{ n.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}